<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <connectionStrings>
    <add name="pickdb" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\Anvesh\Documents\Visual Studio 2010\Projects\PickMeUp_Server\PickMeUpService\App_Data\pickdb.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True"   
  providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <services>
    <service name="PickMeUpService.AuthService">
    <endpoint address="" binding="webHttpBinding" contract="PickMeUpService.IAuthentication" behaviorConfiguration="web"></endpoint>  
    </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    <endpointBehaviors>
      <behavior name="web">
        <webHttp/>
      </behavior>
    </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>

  </system.webServer>

</configuration>
